<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ShoppingCart</servlet-name>
        <servlet-class>ShoppingCart</servlet-class>
    </servlet>
<!--    <session-config>-->
<!--        <session-timeout>1</session-timeout>-->
<!--    </session-config>-->
    <servlet-mapping>
        <servlet-name>ShoppingCart</servlet-name>
        <url-pattern>/ShoppingCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <!--配置监听器DD-->
    <listener>
        <listener-class>BookAddedListener</listener-class>
    </listener>

</web-app>